
.home-page{
  width: 100%;
  height: 97vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0.11) 100%), url('../img/home-bg.webp');
  background-position: center;
  background-size: auto, cover;
  @media screen and (max-width: 768px){
    height: 90vh;
  }
  .home-page-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 0 15px;
    .Home_page_title{
      text-align: center;
      margin-top:120px;
      font-size: 64px !important;
      color: #fff;
      border-bottom: 1px solid #fff;
      font-weight: 600;
      margin-bottom: 16px;
      @media screen and (max-width: 991px){
        font-size: 54px!important;
      }
      @media screen and (max-width: 768px){
        font-size: 44px!important;
      }
      @media screen and (max-width: 568px){
        font-size: 30px!important;
      }
    }
    .home_page_des{
      font-size: 24px;
      text-align: center;
      color: rgb(255, 255, 255);
      line-height: 1.5;
      font-weight: 400;
      overflow-wrap: break-word;
      font-family: 'Roboto', arial, sans-serif;
      text-transform: none;
      letter-spacing: normal;
      margin-bottom: 16px;
    }
    .home_page_btn{
    margin-top: 32px;
    font-size: 18px;
    height: 56px;
  }
  }
}
.each-section{
  max-width: 1280px;
  padding:40px 24px;
  margin: 0 auto;
  .transform-title{
    font-weight: 600;
    font-size: 24px;
    @media screen and (max-width: 991px){
      font-size: 18px;
    }
  }
  .each-transform{
    max-width: 365px;
    margin: 0 auto;
    .each-transform-title{
      font-size: 24px;
      color: rgb(27, 27, 27);
      font-family: 'Roboto', arial, sans-serif;
      font-weight: 400;
      margin-bottom: 24px;
    }
    .each-transform-des{
      font-size: 18px;
      color: rgb(94, 94, 94);
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
    }
  }
  .section-des{
    font-size: 24px;
    color: rgb(27, 27, 27);
    margin-top:30px;
    font-weight: 400;
    font-family: 'Roboto', arial, sans-serif;
    margin-bottom: 20px;
  }
  .form-home{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 24px;
    .custom-form{
      border:1px solid rgb(226, 226, 226);
      background-color: rgb(255, 255, 255);
      height: 55px;
      margin-bottom: 24px;
      text-align: left;
      overflow: hidden;
      position: relative;
      .form-control{
        box-shadow: none;
        border-radius: 0!important;
        font-weight: 400;
        border: 0!important;
        padding-bottom: 8px;
        font-family: 'Roboto', arial, sans-serif;
        text-transform: none;
        margin-top: 15px;
      }
      .form-label{
        position: absolute;
        left: 16px;
        top: 28%;
        font-size: 18px;
        color: rgb(94, 94, 94);
        font-weight: 400;
        font-family: 'Roboto', arial, sans-serif;
        transition: all .2s ease;
        &.active{
          transition: all .2s ease;
          top: 10%;
          color: $text-theme;
          font-size: 12px;
        }
      }
      &.textarea{
        height: 160px;
        textarea{
          height: 157px;
          resize: none;
          &::placeholder{
            font-size: 18px;
            color: rgb(94, 94, 94);
            font-weight: 400;
          }
        }
      }
    }
    .btn-theme-red{
      height: 56px;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: 0.063em;
      color: #fff;
    }
  }
  .reCaptcha{
    font-size: 14px;
    color: rgb(89, 89, 89);
    line-height: 1.5;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
    padding:16px 0 ;
    a{
      color: $text-theme;
      transition: all .2s ease;
      &:hover{
        transition: all .2s ease;
        color: $text-default;
      }
    }
  }
  .better_yet{
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
    @media screen and (max-width: 568px){
      font-size: 19px;
    }
  }
  .default_text{
    font-family: 'Roboto', arial, sans-serif;
    font-size: 18px;
    color: rgb(94, 94, 94);
    margin-bottom: 24px;
  }
}
.footer{
  .footer-content{
    @media only screen and (max-width: 994px){
      flex-direction: column;
      justify-content: center!important;
      align-items: center;
    }
  }
  .copyright{
    @media only screen and (max-width: 1200px){
      font-size: 13px;
    }
  }
  .links{
    padding-right: 245px;
    @media only screen and (max-width: 1200px){
      padding-right: 200px;
    }
    @media only screen and (max-width: 994px){
      padding: 20px 0;
    }
  }
}